.table-wrapper {
    max-height: 400px;
    overflow: hidden;
    text-align: left;
    border: gold 1px solid;
    margin-top: 10px;
    color: white;
    text-align: center;
}

.table-wrapper table {
    width: 100%;
    border-collapse: collapse;
}

.table-wrapper:hover {
    overflow-y: scroll;
}

.table-wrapper th,
.table-wrapper td {
    padding: 10px;
    border: gold 1px solid;
}

.table-wrapper th:nth-child(2),
.table-wrapper td:nth-child(2) {
    width: 40%;
}

.table-wrapper th:not(:nth-child(2)),
.table-wrapper td:not(:nth-child(2)) {
    width: 15%;
}

.table-wrapper tbody tr:hover {
    color: gold;
}

.table-wrapper tbody td:hover {
    font-size: 25px;
}

.table-wrapper thead {
    background-color: #676767;
    color: gold;
    position: sticky;
    top: 0;
    z-index: 1;
}

.table-wrapper th:not(:first-child),
.table-wrapper td:not(:first-child) {
    border-left: gold 1px solid;
}
